In [1]:
#vertical name
string="Hope"
for ai in range(0,len(string)):
    print(string[ai])

H
o
p
e

In [2]:
#Horizontal &vertical name
string="Hope"
print(string)
for ai in range(0,len(string)):
    print(string[ai])

Hope
H
o
p
e

In [6]:
tuple1=(16,1)
tuple2=(23,1)
print((tuple1,tuple2))

((16, 1), (23, 1))

In [5]:
tuple1=(16,1)
tuple2=(23,1)
tuple=(tuple1,tuple2)
print(tuple)

((16, 1), (23, 1))

In [11]:
tuplelist=[1,2,3,3,4,5,7]
print(tuplelist)
for num in tuplelist:
    if(num%2==1):
        print(num,"It is Odd")
    else:
        print(num,"It is Even")

[1, 2, 3, 3, 4, 5, 7]
1 It is Odd
2 It is Even
3 It is Odd
3 It is Odd
4 It is Even
5 It is Odd
7 It is Odd

In [13]:
# Array to dataframe
import pandas as pd
import numpy as np
marks=np.array([[11,22,33],[44,55,66]])
df=pd.DataFrame(marks,columns=['Sub1','Sub2','Sub3'])
print(df)

   Sub1  Sub2  Sub3
0    11    22    33
1    44    55    66

In [14]:
# Array to dataframe with index
import pandas as pd
import numpy as np
marks=np.array([[11,22,33],[44,55,66]])
df=pd.DataFrame(marks,columns=['Sub1','Sub2','Sub3'],index=['Term1','Term2'])
print(df)

       Sub1  Sub2  Sub3
Term1    11    22    33
Term2    44    55    66

In [18]:
# Array to dataframe to get more details
import pandas as pd
import numpy as np
sub_details=np.array([['jee',25,1995,2016],['devi',30,1993,2012],['jas',31,1992,2013]],dtype=object)
df=pd.DataFrame(sub_details,columns=['Name','Age','DOB','YOP'])
print(df)

   Name Age   DOB   YOP
0   jee  25  1995  2016
1  devi  30  1993  2012
2   jas  31  1992  2013

In [21]:
# Array to dataframe with dtypes
import pandas as pd
import numpy as np
sub_details=np.array([['jee',25,1995,2016],['devi',30,1993,2012],['jas',31,1992,2013]],dtype=object)
df=pd.DataFrame(sub_details,columns=['Name','Age','DOB','YOP'])
print(df)
print(type(df))
print(df.dtypes)

   Name Age   DOB   YOP
0   jee  25  1995  2016
1  devi  30  1993  2012
2   jas  31  1992  2013
<class 'pandas.core.frame.DataFrame'>
Name    object
Age     object
DOB     object
YOP     object
dtype: object

In [24]:
# Array to dataframe change with proper dtypes
import pandas as pd
import numpy as np
sub_details=np.array([['jee',25,1995,2016],['devi',30,1993,2012],['jas',31,1992,2013]],dtype=object)
df=pd.DataFrame(sub_details,columns=['Name','Age','DOB','YOP'])
df['Age']=df['Age'].astype(int)
df['DOB']=df['DOB'].astype(int)
df['YOP']=df['YOP'].astype(int)
print(df)
print(type(df))
print(df.dtypes)

   Name  Age   DOB   YOP
0   jee   25  1995  2016
1  devi   30  1993  2012
2   jas   31  1992  2013
<class 'pandas.core.frame.DataFrame'>
Name    object
Age      int32
DOB      int32
YOP      int32
dtype: object

In [30]:
#Add array as a new column
import pandas as pd
import numpy as np

#Create pandas Dataframe
df=pd.DataFrame({'Game1':[1,2,3],'Game2':[4,5,6],'Game3':[7,8,9]})
print(df)
#Create numpy array for Game4
Game4=np.array([9,6,3])

#Add Game4 array s new column in Dataframe
df['Game4']=Game4.tolist()
#display dataframe
print(df)

   Game1  Game2  Game3
0      1      4      7
1      2      5      8
2      3      6      9
   Game1  Game2  Game3  Game4
0      1      4      7      9
1      2      5      8      6
2      3      6      9      3

In [31]:
#Converting list of tuples to dictionary
marks=[('abi',29),('dani',30)]
marks_dic=dict(marks)
print(marks_dic)

{'abi': 29, 'dani': 30}

In [32]:
#converting two lists of same length to a dictionary using dict and zip method
index=[1,2,3]
courses=['Python','ML','DS']
Dictionary=dict(zip(index,courses))
print(Dictionary)

{1: 'Python', 2: 'ML', 3: 'DS'}

In [33]:
#Another method
index=[1,2,3]
courses=['Python','ML','DS']
Dictionary={k:v for k,v in zip(index,courses)}
print(Dictionary)

{1: 'Python', 2: 'ML', 3: 'DS'}

In [34]:
#square the values in lists
lists=[1,2,3,4,5,6,7,8,9,10]
square_dict={n:n*n for n in lists}
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [36]:
#One liner 'for loop'       for loop is multiple input and single process
list=[1,2,3,4,5,6]
[l*2 for l in list]

[2, 4, 6, 8, 10, 12]

In [37]:
#Ex:
list=[1,2,3,4,5,6]
[l+2 for l in list]

[3, 4, 5, 6, 7, 8]

In [2]:
#1 star
print('*')

*

In [6]:
#5 star
n=5
print("*",n)
print("*"*n)#5 star horizontal without gap

* 5
*****

In [10]:
n=5
for i in range(n):#5 star vertical
    print('*')

*
*
*
*
*

In [15]:
n=5
for i in range(n):
    print('*',end=' ')

* * * * *

In [19]:
n=5
for i in range(n):
    for j in range(n):
        print("*",end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [21]:
n=5
for i in range(n):
    for j in range(n):
        print("7",end=' ')
    print()

7 7 7 7 7
7 7 7 7 7
7 7 7 7 7
7 7 7 7 7
7 7 7 7 7

In [32]:
#decreasing the triangle shape star
n=5
for i in range(n):
    print()
    for j in range(i+1):
        print("*",end="  ")
#(0+1)*  
#(1+1)*  *  
#(2+1)*  *  *  
#(3+1)*  *  *  *  
#(4+1)*  *  *  *  *

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *

In [31]:
#decreasing the triangle shape star
n=5
for i in range(n):
    for j in range(i,n):
        print("*",end="  ")
    print()
#0 to 5 *  *  *  *  *  
#1 to 5 *  *  *  *  
#2 to 5 *  *  *  
#3 to 5 *  *  
#4 to 5 *

*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [36]:
#right side decreasing triangle
n=5
for i in range(n):
    for j in range(i,n):
        print('',end="  ")
    for j in range(i+1):
        print('*',end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [37]:
n=5
for i in range(n):
    for j in range(i+1):
        print('',end="  ")
    for j in range(i,n):
        print('*',end=" ")
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [38]:
#Hill type 
n=5
for i in range(n):
    for j in range(i,n):
        print('',end="  ")
    for j in range(i+1):
        print('*',end=" ")
    for j in range(i+1):
        print('*',end=" ")
    print()

          * *
        * * * *
      * * * * * *
    * * * * * * * *
  * * * * * * * * * *

In [39]:
#Hill pattern
n=5
for i in range(n):
    for j in range(i,n):
        print('',end="  ")
    for j in range(i):
        print('*',end=" ")
    for j in range(i+1):
        print('*',end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [41]:
#Downward hill type
n=5
for i in range(n):
    for j in range(i+1):
        print('',end="  ")
    for j in range(i,n):
        print('*',end=" ")
    for j in range(i,n):
        print('*',end=" ")
    print()

  * * * * * * * * * *
    * * * * * * * *
      * * * * * *
        * * * *
          * *

In [45]:
#Downward hill pattern
n=5
for i in range(n):
    for j in range(i+1):
        print('',end="  ")
    for j in range(i,n-1):
        print('*',end=" ")
    for j in range(i,n):
        print('*',end=" ")
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [49]:
n=5
for i in range(n):
    for j in range(i+1):
        print('',end="  ")
    for j in range(i,n-1):
        print('*',end=" ")
    for j in range(i,n):
        print('*',end=" ")
    print()
for i in range(n):
    for j in range(i,n):
        print('',end="  ")
    for j in range(i):
        print('*',end=" ")
    for j in range(i+1):
        print('*',end=" ")
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *
          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [50]:
#Diamond type
n=5
for i in range(n):
    for j in range(i,n):
        print('',end="  ")
    for j in range(i):
        print('*',end=" ")
    for j in range(i+1):
        print('*',end=" ")
    print()
for i in range(n):
    for j in range(i+1):
        print('',end="  ")
    for j in range(i,n-1):
        print('*',end=" ")
    for j in range(i,n):
        print('*',end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [51]:
#Diamond pattern
n=5
for i in range(n-1):
    for j in range(i,n):
        print('',end="  ")
    for j in range(i):
        print('*',end=" ")
    for j in range(i+1):
        print('*',end=" ")
    print()
for i in range(n):
    for j in range(i+1):
        print('',end="  ")
    for j in range(i,n-1):
        print('*',end=" ")
    for j in range(i,n):
        print('*',end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *