In [1]:
def subfields():
    name=input("Subfilelds in AI are:")
    print("Machine Learning")
    print("Neural Networks")
    print("Vision")
    print("Robotics")
    print("Speech Processing")
    print("Natural Language Processing")

In [2]:
subfields()

Subfilelds in AI are:
Machine Learning
Neural Networks
Vision
Robotics
Speech Processing
Natural Language Processing

In [4]:
def Oddeven():    
    num=int(input("Enter a number:"))
    if((num%2)==0):
        print(num,"is even number")
    else:
        print(num,"is odd number")

In [6]:
Oddeven()

Enter a number:52452
52452 is even number

In [7]:
def EligibleorNot():
    gen=input("Your gender:")
    age=int(input("Your age:"))
    if(gen=="Male"):
        if(age<21):
            print("Not Eligible")
        else:
            print("Eligible")
    if(gen=="Female"):
        if(age<21):
            print("Not Eligible")
        else:
            print("Eligible")

In [8]:
EligibleorNot()

Your gender:Male
Your age:28
Eligible

In [9]:
EligibleorNot()

Your gender:Female
Your age:15
Not Eligible

In [18]:
def sub():
    subject1=98
    print("subject1=98")
    subject2=87
    print("subject2=87")
    subject3=95
    print("subject3=95")
    subject4=95
    print("subject4=95")
    subject5=93
    print("subject5=93")
    Marks=subject1+subject2+subject3+subject4+subject5
    print("Total:",Marks)
    print("Percentage is :",(Marks/500)*100)

In [19]:
sub()

subject1=98
subject2=87
subject3=95
subject4=95
subject5=93
Total: 468
Percentage is : 93.60000000000001

In [34]:
def Tri():
    H=int(input("Height:"))
    B=int(input("Breadth:"))
    Area=(H*B)/2
    print("Area of Triangle:",Area)
    H1=int(input("Height1:"))
    H2=int(input("Height2:"))
    B1=int(input("Breadth1:"))
    Per=(H1+H2+B1)
    print("Perimeter of Triangle:",Per)

In [35]:
Tri()

Height:32
Breadth:34
Area of Triangle: 544.0
Height1:2
Height2:4
Breadth1:4
Perimeter of Triangle: 10

In [1]:
range(0,20)
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
#for Vertical

In [2]:
for num in range(10,20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [ ]:
#for Horizontal used end='' , ' '  single quotation in b/w space used for number space

In [6]:
for num in range(10,20):
    print(num,end=' ')

10 11 12 13 14 15 16 17 18 19

In [ ]:
#wrong

In [13]:
list=[10,20,4,55,43,87,76]
for num in list:
    print(num,end=' ')
    num=len(list)
    print("Number of items in list:",num)

10 Number of items in list: 7
20 Number of items in list: 7
4 Number of items in list: 7
55 Number of items in list: 7
43 Number of items in list: 7
87 Number of items in list: 7
76 Number of items in list: 7

In [ ]:
#Right - in this indentation plays a role(space before num is not correct)

In [14]:
list=[10,20,4,55,43,87,76]
for num in list:
    print(num,end=' ')
num=len(list)
print("Number of items in list:",num)

10 20 4 55 43 87 76 Number of items in list: 7

In [ ]:
#String - need vertically

In [15]:
string="Vergeena Devi"
print(string)

Vergeena Devi

In [18]:
string="Vergeena Devi"
print(string)
for name in range(0,len(string)):
    print(string[name])

Vergeena Devi
V
e
r
g
e
e
n
a

D
e
v
i

In [20]:
string="Esther Chandra"
print(string)
for n in range(0,len(string)):
    print(string[n])

Esther Chandra
E
s
t
h
e
r

C
h
a
n
d
r
a

In [22]:
string="Devi Ma"
print(string)
for l in range(0,len(string)):
    print(string[l])

Devi Ma
D
e
v
i

M
a

In [23]:
print("-your name-")
print("-your age-")
print("-your proffession-")

-your name-
-your age-
-your proffession-

In [24]:
tuple=(1, 'Welcome', 2, 'Hope')
print(tuple)

(1, 'Welcome', 2, 'Hope')

In [26]:
tuple1=(0, 1, 2, 3)
tuple2=('Python', 'HOPE')
print((tuple1,tuple2))

((0, 1, 2, 3), ('Python', 'HOPE'))

In [27]:
tuple1=(0, 1, 2, 3)
tuple2=('Python', 'HOPE')
tuple3=(tuple1,tuple2)
print(tuple3)

((0, 1, 2, 3), ('Python', 'HOPE'))

In [29]:
tuplelists=(20, 10, 16, 19, 25, 1, 276, 188)
print(tuplelists)
for num in tuplelists:
    if num%2==1:
        print(num,"is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [31]:
tuplelists2=(20, 10, 16, 19, 25, 1, 276, 188)
print(tuplelists2)
for num in tuplelists2:
    if num%2==0:
        print(num,"is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even